main{
    display: grid;
    width: 100%;
    box-sizing: border-box;
}

dl{
    display: grid;
    align-items: left;
    border: solid 2px #ccc;
    padding: 0 0.25rem 0.25rem;
}

dt{
    font-weight: bold;
    font-size: large;
    margin-right: 10px;
}

dd{
    margin-left: 10px;
    font-size: small;
}

.area{
    font-size: medium;
}

.description{
    color: lightgray;
}

div.item{
    margin: 10px;
    padding: 10px;
    border: solid 2px #ccc;
    border-radius: 5px;
}